.titulo { color: #CC2525; }
body { background: #F5A94E; }
h2 { color: #B5722A; }
.contactos{ font-size:18px }
.contactos{ font-family: "Arial" sans-serif;}
.titulo { text-decoration: underline;}
.entrada { text-align: justify}
.imagen { width:400px; height:auto;}
