@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


 .header {display:flex;
   height:20vh;
   justify-content:space-around;
   color: #CC2525;
    text-decoration: underline;
  font-size:28px;
 align-items:center;
 flex-wrap:wrap;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
     background-color:#A1661A;

  }
.cards img {height:200px}

 .contactos {display:flex;
 width:100px;
 gap:5px;
justify-content:space-around}

.contactos2 {display:flex;
width:100px;
gap:5px;
justify-content:space-around}

body { background: #F5A94E;
      font-family: "Verdana" Verdana;}

h2 { color: #B5722A; }


.primerreceta { font-size:20px;
  font-family: "Arial", Arial; }

.x {width: 40px;
   height: 40px;}

.tiktok{width: 40px;
   height: 40px;}

.cards{display:flex;
flex-direction:row;
justify-content:space-around}

button {margin-left:40px;
border-style:solid;}

.instagram {width: 40px;
   height: 40px;}

 .facebook {width: 40px;
    height: 40px;}

.recetas {text-align:center;}

.recetacompleta {display:flex;
   width:100vw;
   flex-direction:row;
 justify-content:center;}

 .imagen img {
   margin-left:15px;
   display: flex;
     width:30vw;}

.receta {display:flex;
  margin-left:4vw;
  width:65vw;
flex-direction:column}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.botones {display:flex;
flex-direction:row;
justify-content:space-between}
.whatsapp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.mapareceta {width:auto;
height:10vw}

.footer {display:flex;
  background-color:#A1661A ;
  justify-content:space-around;
align-items:center;
flex-wrap:wrap}
